.main-container {
  display: flex;
}

.history-container {
  margin: 4em;
}

.history-entry {
  border-width: 1px;
  border-style: solid;
  width: 3em;
  text-align: center;
}

.total-container {
  margin: 4em;
}

.total {
  border-width: 1px;
  border-style: solid;
  width: 3em;
  text-align: center;
}